# Created by .ignore support plugin (hsz.mobi)
*.class

# Package Files #
*.jar
*.war
*.ear

*/bin
*bin
*.bin
*bin

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
.idea
\.idea/
*.iml

out
gen
.gitignore
src/test/
target/generated-sources/
target/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
nbproject/
build/
nbbuild/
dist/
nbdist/

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
logs/statistics/

logs/
